.container{
    background-color: #eeeeee;
}

input[type=text], textarea{
    width: 100%;
    padding: 11px;
    border:1px solid #eeeeee;
    resize: vertical;
    margin-bottom: 15px;
    margin-top: 9px;
    box-sizing: border-box;
    border-radius: 5px;
}

button{
    color:#ffffff;
    cursor: pointer;
    float: right;
    border-radius: 5px;
    border: none;
    padding:13px 20px;
    background-color: #115C8F;
}

button:hover{
    background-color: #506AA7;
}

.contact P{
    margin-bottom: 0;
}

